.App {
  background-image: url("./assets/back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5500px !important;
  max-height: 5500px !important;
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
}

.character {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.character > img {
  cursor: pointer;
}

.character > input {
  margin: 0 10px 0 0;
}

.char:nth-child(even) .character {
  flex-direction: row-reverse;
}

.char:nth-child(even) .character > input {
  margin: 0 0 0 10px;
}

.first {
  position: absolute;
  top: 10px;
  left: 50px;
}

.second {
  position: absolute;
  top: 300px;
  right: 30px;
}

.third {
  position: absolute;
  top: 570px;
  left: 50px;
}

.fourth {
  position: absolute;
  top: 880px;
  right: 30px;
}

.fifth {
  position: absolute;
  top: 1200px;
  left: 50px;
}

.sixth {
  position: absolute;
  top: 1510px;
  right: 30px;
}

.seventh {
  position: absolute;
  top: 1800px;
  left: 70px;
}
.eighth {
  position: absolute;
  top: 2080px;
  right: 30px;
}

.ninth {
  position: absolute;
  top: 2380px;
  left: 70px;
}

.tenth {
  position: absolute;
  top: 2680px;
  right: 50px;
}

.eleventh {
  position: absolute;
  top: 2980px;
  left: 70px;
}

.twelfth {
  position: absolute;
  top: 3250px;
  right: 30px;
}

.thirteenth {
  position: absolute;
  top: 3500px;
  left: 70px;
}

.fourteenth {
  position: absolute;
  top: 3850px;
  right: 30px;
}

.fifteenth {
  position: absolute;
  top: 4110px;
  left: 70px;
}

.sixteenth {
  position: absolute;
  top: 4400px;
  right: 30px;
}

.seventeenth {
  position: absolute;
  top: 4680px;
  left: 70px;
}

.eightteenth {
  position: absolute;
  top: 4950px;
  right: 30px;
}

.invisible {
  opacity: 0.25;
}

input {
  border: none;
  outline: none;
  border-bottom: 4px solid rgb(182, 108, 59);
  background-color: transparent;
  font-family: "Basic";
  text-align: center;
  font-size: 20px;
  width: 120px;
  color: rgb(158, 93, 50);
}

.final {
  position: absolute;
  top: 5280px;
  font-size: 80px;
  color: rgb(255, 255, 255);
  left: 70px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
}
